@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
  color: hsl(257deg, 7%, 63%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 70%;
  }
}

body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.body-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}

.section-center {
  margin: 0 auto;
  padding-left: 8rem;
  padding-right: 8rem;
  overflow-x: hidden;
}

.section-py {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 740px) {
  .section-center {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture {
  display: block;
  user-select: none;
}

input,
button,
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=range] {
  margin-block: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Establece los valores predeterminados en cero o valores específicos */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reinicia la lista sin viñetas y los estilos de anclaje */
ol, ul {
  list-style: none;
}

/* Establece las propiedades del enlace a su estado normal */
a {
  text-decoration: none;
  color: inherit;
}

/* Restablece la visualización de los elementos bloque */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Restablece el tamaño de fuente y la fuente de entrada de formularios heredados */
input, select {
  font: inherit;
}

/* Solucionar el ajuste de radio y casilla en iOS */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* Restablece los valores predeterminados para elementos ocultos */
[hidden] {
  display: none;
}

/* Restablece los estilos de texto en línea */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Restablece el estilo del cursor del enlace */
a:hover {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

/**
 * Header Section Styles Starts Here -------------/
 */
.header {
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
}
.header .nav .desktop__menu {
  display: flex;
  justify-content: space-between;
}
.header .nav .desktop__menu-item a {
  color: hsl(257deg, 7%, 63%);
  font-weight: 700;
}
.header .nav .desktop__menu .auth__login, .header .nav .desktop__menu .auth__register,
.header .nav .mobile__menu .auth__login,
.header .nav .mobile__menu .auth__register {
  font-weight: 700;
}
.header .nav .desktop__menu .auth__login,
.header .nav .mobile__menu .auth__login {
  color: hsl(257deg, 7%, 63%);
}
.header .nav .desktop__menu .auth__register,
.header .nav .mobile__menu .auth__register {
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 40px;
  color: #fff;
}
.header .nav .mobile__menu {
  display: none;
}
@media (max-width: 980) {
  .header .nav .desktop__menu {
    justify-content: flex-end;
  }
}
@media (min-width: 480px) {
  .header .nav {
    justify-content: end;
  }
  .header .nav .mobile__menu {
    max-width: 400px;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .header .nav .desktop__menu {
    display: none;
  }
  .header .nav .mobile__menu {
    display: flex;
  }
  .header .nav .mobile__menu input[type=checkbox] {
    display: none;
  }
  .header .nav .mobile__menu input[type=checkbox]:checked ~ .mobile__menu-content {
    display: flex;
  }
  .header .nav .mobile__menu-content {
    display: none;
    background-color: hsl(257deg, 27%, 26%);
    border-radius: 0.8rem;
  }
  .header .nav .mobile__menu-icon {
    font-size: 1.8rem;
    top: 0;
    right: 0;
    transform: translate(-10px, 50px);
  }
  .header .nav .mobile__menu-item,
.header .nav .mobile__menu .auth > * {
    color: #fff;
    font-weight: 700;
  }
  .header .nav .mobile__menu-item:not(.auth > *),
.header .nav .mobile__menu .auth > *:not(.auth > *) {
    margin-bottom: 1rem;
  }
  .header .nav .mobile__menu .divider.solid {
    border-top: 1px solid #bbb;
  }
}

/**
 * Main Section Styles Starts Here -------------/
 */
.main__title {
  color: hsl(255deg, 11%, 22%);
  font-size: 4.6rem;
  line-height: 1.1;
}
.main__description {
  padding-right: 4rem;
  font-size: 1.3rem;
}
.main__image {
  position: relative;
}
.main__image img {
  left: 0;
  top: 0;
}
.main__button {
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 40px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
}
@media only screen and (max-width: 48em) {
  .main {
    flex-direction: column-reverse;
  }
  .main__content {
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  .main__title {
    font-size: 2.5rem;
  }
  .main__description {
    padding: 0;
    font-size: 1.2rem;
  }
  .main__image {
    margin-bottom: 2rem;
  }
  .main__image img {
    max-width: 550px;
  }
}

/**
 * URL Entry Section Styles Starts Here -------------/
 */
.shortener {
  background: linear-gradient(to bottom, #fff 50%, #f0f1f6 50%);
}
.shortener__form {
  background-color: hsl(257deg, 27%, 26%);
  background-image: url("../assets/images/bg-shorten-desktop.svg");
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  border-radius: 20px;
  padding: 3.5rem 3rem;
}
.shortener__input, .shortener__button {
  font-size: 1.2rem;
}
.shortener__input {
  background-color: #fff;
  border-radius: 10px;
  color: hsl(260deg, 8%, 14%);
}
.shortener__button {
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

/**
 * Feature Section Styles Starts Here -------------/
 */
.features {
  background-color: #f0f1f6;
}
.features__title {
  color: hsl(255deg, 11%, 22%);
}
.features .tabs {
  width: 100%;
  height: 100%;
  min-height: 500px;
}
.features .tabs__item {
  flex: 0 0 360px;
  border-radius: 10px;
  background-color: #fff;
  padding: 4rem 1.8rem 3rem 1.8rem;
  z-index: 9;
}
.features .tabs__line {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 10px;
  background-color: hsl(180deg, 66%, 49%);
  z-index: 1;
}
.features .tabs__image {
  position: absolute;
  padding: 1.5rem;
  top: 0;
  left: 0;
  transform: translate(40px, -40px);
  background-color: hsl(257deg, 27%, 26%);
}
.features .tabs__title {
  color: hsl(255deg, 11%, 22%);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.features .tabs__description {
  font-size: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .features .tabs__line {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
  }
}

/**
 * CTA Section Styles Starts Here -------------/
 */
/**
 * Footer Section Styles Starts Here -------------/
 */

/*# sourceMappingURL=main.css.map */
