@import "utils/variables";
@import "utils/mixins";

@import "utils/base";
@import "utils/reset";
@import "utils/typography";



/**
 * Header Section Styles Starts Here -------------/
 */

.header {
    padding: 3.7rem 0;
    .navbar {
        &__item {
            a {
                color: $grayish-violet;
                font-weight: $font-weight-2;
            }
        }
    }

    .auth {

        &__login, &__register {
            font-weight: $font-weight-2;
        }
        &__login {
            color: $grayish-violet;
        }
        &__register {
            background-color: $primary-;
            border-radius: 40px;
            color: $white;
        }
    }
}


 /**
 * Main Section Styles Starts Here -------------/
 */

.main {
    &__content {
    }
    &__title {
        color: $very-dark-blue;
        font-size: 4.6rem;
        line-height: 1.1;

    }

    &__description {
        padding-right: 4rem;
        font-size: 1.3rem;
    }

    &__image {
        position: relative;
        // overflow: hidden;
        img {
            // position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__button {
        background-color: $primary-;
        border-radius: 40px;
        color: $white;
        font-size: 1.2rem;
        font-weight: $font-weight-2;
        width: 100%;
        max-width: 200px;
    }
}


 /**
 * URL Entry Section Styles Starts Here -------------/
 */

.shortener {
    position: relative;
    &__form {
        position: absolute;
        background-color: $primary--;
        background-image: url("../assets/images/bg-shorten-desktop.svg");
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
        border-radius: 20px;
        padding: 3.5rem 2rem;
        width: 100%;
    }

    &__input, &__button {
        font-size: 1.2rem;
    }

    &__input {
        background-color: $white;
        border-radius: 10px;
        color: $very-dark-violet;
        width: 100%;
        max-width: 70%;
        z-index: 10;
    }

    &__button {
        background-color: $primary-;
        border-radius: 10px;
        color: $white;
        font-weight: $font-weight-2;
        
    }
}



 /**
 * Feature Section Styles Starts Here -------------/
 */




 /**
 * CTA Section Styles Starts Here -------------/
 */





 /**
 * Footer Section Styles Starts Here -------------/
 */