@import "utils/variables";
@import "utils/mixins";

@import "utils/base";
@import "utils/reset";
@import "utils/typography";



/**
 * Header Section Styles Starts Here -------------/
 */

.header {
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;

    .nav {
        .desktop__menu {
            display: flex;
            justify-content: space-between;

            &-item {
                a {
                    color: $grayish-violet;
                    font-weight: $font-weight-2;
                }
            }


        }

        .desktop__menu,
        .mobile__menu {
            .auth {

                &__login,
                &__register {
                    font-weight: $font-weight-2;
                }

                &__login {
                    color: $grayish-violet;
                }

                &__register {
                    background-color: $primary-;
                    border-radius: 40px;
                    color: $white;
                }
            }
        }

        .mobile__menu {
            display: none;
        }

        @media (max-width: 980) {
            .desktop__menu {
                justify-content: flex-end;
            }
        }

        @media (min-width: 480px) {
            justify-content: end;

            .mobile__menu {
                max-width: 400px;
                justify-content: flex-end;
            }
        }

        @media (max-width: 768px) {

            // justify-content: center;
            .desktop__menu {
                display: none;
            }

            .mobile__menu {
                display: flex;

                input[type="checkbox"] {
                    display: none;

                    &:checked~.mobile__menu-content {
                        display: flex;
                    }
                }

                &-content {
                    display: none;
                    background-color: $primary--;
                    border-radius: .8rem;
                }

                &-icon {
                    font-size: 1.8rem;
                    top: 0;
                    right: 0;
                    transform: translate(-10px, 50px); // Ajusta el valor para centrarlo
                }

                &-item,
                .auth>* {
                    color: $white;
                    font-weight: $font-weight-2;

                    &:not(.auth > *) {
                        margin-bottom: 1rem;
                    }
                }

                .divider {
                    &.solid {
                        border-top: 1px solid #bbb;
                    }
                }
            }
        }
    }

}



/**
 * Main Section Styles Starts Here -------------/
 */

.main {

    &__title {
        color: $very-dark-blue;
        font-size: 4.6rem;
        line-height: 1.1;

    }

    &__description {
        padding-right: 4rem;
        font-size: 1.3rem;
    }

    &__image {
        position: relative;

        img {
            margin: auto;
        }
    }

    &__button {
        background-color: $primary-;
        border-radius: 40px;
        color: $white;
        font-size: 1.2rem;
        font-weight: $font-weight-2;
        width: 100%;
        max-width: 200px;
    }

    @include mediaQuery($breakpoint-desktop) {
        & *> {
            background-color: red;
        }
    }

    @include mediaQuery(tablet) {
        flex-direction: column-reverse;

        &__content {
            align-items: center;
            gap: 1rem;
            text-align: center;
        }

        &__title {
            font-size: 2.5rem;
        }

        &__description {
            padding: 0;
            font-size: 1.2rem;
        }
        &__image {
            margin-bottom: 2rem;
            img {
                max-width: 550px;
            }
        }

    }
}


/**
 * URL Entry Section Styles Starts Here -------------/
 */

.shortener {
    &--bg {
        background: linear-gradient(to bottom, $white 50%, $gray-light 50%);
    }
    &__form {
        background-color: $primary--;
        background-image: url("../assets/images/bg-shorten-desktop.svg");
        background-size: cover;
        border-radius: 20px;
        padding: 3.5rem 3rem;
    }

    &__input,
    &__button {
        font-size: 1.2rem;
    }

    &__input {
        background-color: $white;
        border-radius: 10px;
        color: $very-dark-violet;
        cursor: text;
    }

    &__button {
        background-color: $primary-;
        border-radius: 10px;
        color: $white;
        font-weight: $font-weight-2;
        // padding: 1rem 2rem;
    }

    &__list {
        background-color: $gray-light;
        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            background-color: $white;
            border-radius: 10px;
            font-size: 1.25rem;
            padding: 1rem 1.25rem;
            margin-top: 1.25rem;

            & > * {
                padding: 1rem 0;
                }

            &:not(:last-child){
            // margin-bottom: 1.25rem;

            }
            span {
                &:nth-of-type(1) {
                    color: $very-dark-violet;
                    flex: 3 2 auto;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
                &:nth-of-type(2) {
                    color: $primary-;
                    flex: 1 1 auto;
                    text-align: center;
                }
            }

            button {
                background-color: $primary-;
                border-radius: 5px;
                color: $white;
                font-size: 1rem;
                flex: 1 0 50px;
                padding: .5rem 1rem;
                text-align: center;

                &:hover {
                    filter: saturate(40%) brightness(120%);
                }

                &:active {
                    background-color: $primary--;
                }
                &.active {
                    background-color: $primary--;
                }
            }
        }

    }

    @include mediaQuery(tablet){
        &__form {
            padding: 2rem;
        }

        &__list {

            .shortener__item {


                span {
                    &:nth-of-type(1) {
                        color: $very-dark-violet;
                        flex: 3 2 auto;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                    }
                    &:nth-of-type(2) {
                        border-top: 1px solid $gray-light;
                        color: $primary-;
                        flex: 1 1 100%;
                        text-align: center;
                    }
                }
                button {
                    
                }
            }
        }

    }
}



/**
 * Feature Section Styles Starts Here -------------/
 */

.features {
    background-color: $gray-light;

    &__inner {}

    ;

    &__title {
        color: $very-dark-blue;
    }

    &__description {}

    .tabs {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        // gap: 1.4rem;
        width: 100%;
        height: 100%;
        min-height: 500px;

        &__item {
            flex: 0 0 360px;
            border-radius: 10px;
            background-color: $white;
            padding: 4rem 1.8rem 3rem 1.8rem;
            z-index: 9;

            // &:nth-child(2){
            //     margin-top: 4rem;
            // }

            // &:nth-child(3){
            //     margin-top: 8rem;
            // }
        }

        &__line {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            width: 500px;
            height: 10px;
            background-color: $primary-;
            z-index: 1;
        }


        &__image {
            position: absolute;
            padding: 1.5rem;
            top: 0;
            left: 0;
            transform: translate(40px, -40px);
            background-color: $primary--;
        }

        &__title {
            color: $very-dark-blue;
            font-size: 1.3rem;
            font-weight: $font-weight-2;
            margin-bottom: .8rem;
        }

        &__description {
            font-size: 1rem;
        }

        @include mediaQuery(phone) {
            &__line {
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                transform: rotate(90deg);
            }
        }
    }
}


/**
 * CTA Section Styles Starts Here -------------/
 */





/**
 * Footer Section Styles Starts Here -------------/
 */