
* {
  font-family: $ffa-primary!important;
  color: $grayish-violet;
}

html {
  // background-color: gray;
  font-size: 62.5%; // makes 1rem = 10px
  scroll-behavior: smooth;
  min-height: 100vh;
  @media only screen and (min-width: $breakpoint-desktop) {
    font-size: 70%;
  }
}

// :root {
//     & > body {
//       background-image: url("../images/pattern-background-desktop.svg");

//       @include mediaQuery(phone) {
//         background-image: url("../images/pattern-background-mobile.svg");
//       }
//     }
// }

body {
  background-color: $white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  overflow: hidden;

  height: 100vh;
}


.body-container {
  margin: 0 auto;
  padding: 0 10vw;
  width: 1440px;
}

.section {
  padding: 5rem 0;
}
